* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}
:root {
  --body-color: #efefef;
  --nav-color: #ffa925;
  --bg-color: #fff;
}
.dark-theme {
  --body-color: #0a0a0a;
  --nav-color: #000;
  --bg-color: #000;
}
body {
  background: var(--body-color) !important;
  transition: background 0.3s;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--nav-color);
  padding: 5px 5%;
  position: sticky;
  top: 0;
  z-index: 100;
}
.nav-icon {
  font-size: 22px;
  color: #012970;
  margin-right: 25px;
  position: relative;
}
.nav-left .badge-number {
  position: relative;
  top: -14px;
  left: -40px;
  margin-right: 10px;
  font-weight: normal;
  font-size: 10px;
  padding: 5px 5px;
}
.logo {
  width: 160px;
  margin-right: 45px;
}
.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}
.nav-left ul {
  margin-bottom: 0;
}
.nav-left ul li {
  list-style: none;
  display: inline-block;
  padding: 0 10px;
  font-size: 16px;
  font-weight: bold;
}
.nav-left ul li a {
  text-decoration: none;
  color: #fff;
}
.nav-left ul li:hover {
  border-bottom: solid 3px #4cc47b;
}
a.active1 i {
  color: #0056b3 !important;
}
.nav-left ul li img {
  width: 28px;
  margin: 0 15px;
}
.nav-left ul li a i {
  color: white;
  display: inline-block;
  width: 28px;
  /* margin: 15px 15px; */
  margin-top: -10px;
  font-size: 20px;
}
.nav-user-icon img {
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.nav-user-icon img {
  margin-left: 30px;
}
.search-box {
  background: #efefef;
  width: 350px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.search-box img {
  width: 18px;
}
.search-box input {
  width: 100%;
  background: transparent;
  padding: 10px;
  outline: none;
  border: 0;
  font-size: 15px;
  line-height: 0 !important;
}
/* .online {
  position: relative;
} */
/* .online::after {
  content: "";
  width: 7px;
  height: 7px;
  border: 2px solid var(--bg-color);
  border-radius: 50%;
  background: #41db51;
  position: absolute;
  top: 0;
  right: 0;
} */
.container1 {
  display: flex;
  justify-content: space-between;
  padding: 13px 5%;
}
.left-sidebar {
  flex-basis: 25%;
  position: sticky;
  top: 70px;
  align-self: flex-start;
}
.right-sidebar {
  flex-basis: 25%;
  position: sticky;
  top: 70px;
  align-self: flex-start;
  background: var(--bg-color);
  padding: 20px;
  border-radius: 4px;
  color: #626262;
}
.left-sidebar,
.right-sidebar {
  overflow: hidden;
  height: 100vh;
}
.left-sidebar:hover,
.right-sidebar:hover {
  overflow: auto;
  height: 100vh;
}

.main-content {
  flex-basis: 47%;
}
.imp-links a {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  color: #626262;
  width: fit-content;
}
.imp-links a img {
  width: 25px;
  margin-right: 15px;
}
.imp-links a:hover {
  color: #1876f2;
}
/* .imp-links a:last-child {
  color: #1876f2;
} */
.imp-links {
  border-bottom: 1px solid #ccc;
}
.shortcut-links a img {
  width: 40px;
  border-radius: 4px;
  margin-right: 15px;
}
.shortcut-links p {
  /* margin: 25px 0; */
  color: #626262;
  font-weight: 500;
}
.sidebar-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
}
.right-sidebar h4 {
  font-weight: 600;
  font-size: 16px;
}
.sidebar-title a {
  text-decoration: none;
  color: #1876f2;
  font-size: 13px;
}
.event {
  display: flex;
  font-size: 14px;
  margin-bottom: 20px;
}

.left-event {
  border-radius: 10px;
  height: 65px;
  width: 65px;
  margin-right: 15px;
  padding-top: 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event p {
  font-size: 12px;
}
.event a {
  font-size: 12px;
  text-decoration: none;
  color: #1876f2;
}
.left-event span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #1876f2;
  color: var(--bg-color);
  font-size: 10px;
  padding: 4px;
}
.sidebar-ads {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 4px;
}
.online-list {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}
.online-list .online img {
  width: 50px;
  border-radius: 50%;
}
.online-list .online {
  display: flex;
}
.online-list .online p {
  margin-top: 10px;
  margin-left: 10px;
}
.TopDongGop p {
  margin-top: 10px;
}
/* .online-list .online::after {
  top: unset;
  bottom: 0;
} */
.story-gallery {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.story {
  flex-basis: 18%;
  padding-top: 32%;
  position: relative;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)),
    url(images/status-1.png);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  margin-left: 10px;
}
.story img {
  position: absolute;
  width: 45px;
  border-radius: 50%;
  top: 10px;
  left: 10px;
  border-radius: 5px solid #626262;
}
.story p {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: var(--bg-color);
  font-size: 14px;
}

.story.story1 img {
  top: unset;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  border: 0;
  width: 35px;
}
.write-post-container {
  width: 100%;
  background: var(--bg-color);
  border-radius: 6px;
  padding: 20px;
  color: #626262;
}
.user-profile {
  display: flex;
  /* align-items: center; */
}
.user-profile img {
  width: 45px;
  border-radius: 50%;
  margin-right: 10px;
}
.user-profile p {
  margin-bottom: 5px;
  font-weight: bold;
  color: #626262;
  font-size: 15px;
}
.user-profile small {
  font-size: 12px;
}
.post-input-container {
  padding-left: 55px;
  padding-top: 20px;
}
.post-input-container textarea {
  width: 100%;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #ccc;
  background: transparent;
  resize: none;
  margin-bottom: 10px;
}

.add-post-links {
  display: flex;
  margin-top: 10px;
}
.add-post-links a {
  text-decoration: none;
  align-items: center;
  display: flex;
  color: #626262;
  font-size: 13px;
  margin-right: 13px;
}
.add-post-links img {
  width: 20px;
  margin-right: 10px;
  cursor: pointer;
}
.post-container {
  width: 100%;
  background: var(--bg-color);
  border-radius: 6px;
  padding: 20px;
  color: #626262;
  margin: 0 0 20px 0;
  position: relative;
}

.user-profile {
  font-size: 11px;
  color: #9a9a9a;
}
.post-text {
  color: #2c2a2a;
  margin: 10px 3px;
  font-size: 20px;
}
.title {
  color: #504d4d;
  margin-top: 15px;
  font-size: 17px;
  margin-bottom: 0px;
  font-weight: 600;
}
.address {
  margin-left: 10px;
}
.address p {
  color: #ffa925;
  font-weight: bold;
  font-size: 15px;
}
.type p {
  margin-left: 10px;
  color: #fff;
  border-radius: 2px;
  font-weight: bold;
  background: #ffa925;
  padding: 0 5px;
}
.status_post p {
  margin-left: 20px;
  font-weight: bold;
  color: #1876f2;
}
.post-text span {
  color: #626262;
  font-weight: bold;
}
.menu-child {
  background-color: var(--bg-color);
  padding: 3px;
  box-sizing: border-box;
  border-radius: 1px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  right: -90px;
  display: none;
  border-radius: 5px;
  transition-property: display; /*  Thiết lập thuộc tính width động nếu giá trị của nó thay đổi */
  transition-duration: 2s;
}
.menu-child ul {
  padding: 0px !important;
}
.menu-child ul li {
  list-style: none;
  cursor: pointer;
}
.menu-child ul li a {
  color: #1876f2;
  text-decoration: none;
}
.menu-child ul li a:hover {
  text-decoration: underline;
}

.active {
  display: block;

  transition-property: display; /*  Thiết lập thuộc tính width động nếu giá trị của nó thay đổi */
  transition-duration: 2s; /*  Hiệu ứng động xảy ra trong 2s */
}

/* .post-img {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 5px;
} */
.post-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.activity-icons div img {
  width: 26px;
  margin-right: 10px;
}
.activity-icons div {
  display: inline-flex;
  align-items: center;
  margin-right: 30px;
}
.post-profile-icon {
  display: flex;
  align-items: center;
}
.post-profile-icon img {
  width: 20px;
  border-radius: 50%;
  margin-right: 5px;
}
.post-row a {
  color: #9a9a9a;
}
.load-more-btn {
  display: block;
  margin: auto;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #9a9a9a;
  color: #626262;
  background: transparent;
  border-radius: 4px;
}
.footer {
  text-align: center;
  color: #9a9a9a;
  padding: 10px 0 20px;
  font-size: 13px;
}
.settings-menu {
  position: absolute;
  width: 90%;
  max-width: 350px;
  background: var(--bg-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  overflow: hidden;
  top: 100%;
  right: 5%;
  max-height: 0;
  transition: max-height 0.3s;
}

.user-profile a {
  font-size: 12px;
  color: #1876f2;
  text-decoration: none;
}
.settings-menu-inner {
  padding: 20px;
}
.settings-menu hr {
  border: 0;
  height: 1px;
  background: #9a9a9a;
  margin: 15px 0;
}
.setting-links {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.setting-links .settings-icon {
  width: 38px;
  margin-right: 10px;
  border-radius: 50%;
}
.setting-links a {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: #333;
}
#dark-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #ccc;
  width: 45px;
  border-radius: 15px;
  padding: 2px 3px;
  cursor: pointer;
  display: flex;
  transition: padding-left 0.5s, background 0.5s;
}
#dark-btn span {
  width: 18px;
  height: 18px;
  background: var(--bg-color);
  border-radius: 50%;
  display: inline-block;
}
#dark-btn.dark-btn-on {
  padding-left: 23px;
  background: #fff;
}
.settings-notice {
  position: absolute;
  width: 90%;
  max-width: 350px;
  background: var(--bg-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  overflow: hidden;
  top: 100%;
  right: 48%;
  transition: max-height 0.3s;
  max-height: 0;
}
.settings-menu-height {
  max-height: 450px;
}
.setting-notice {
  padding: 5px;
  display: flex;
  align-items: center;
  margin: 15px 0;
}
.isSeen h4,
.isSeen p {
  /* background-color: #ece6e6; */
  color: #a27878;
}
.setting-notice:hover {
  background-color: #cac1c1;
}
.setting-notice img {
  width: 38px;
  margin-right: 5px;
}
.setting-notice a {
  text-decoration: none;
  color: #333;
}
.setting-notice a p {
  font-size: 13px !important;
  margin-bottom: 0px;
}
.setting-notice a h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  line-height: 1.2;
  font-size: 15px;
}

.post i {
  font-size: 20px;
  position: fixed;
  bottom: 50px;
  right: 100px;
  z-index: 10000;
  cursor: pointer;
}

/* CSS sidebar*/
.shortcut-links {
  /* background-color: #f9f9f9; */
  /* border: 1px solid #ddd; */
  border-radius: 5px;
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); */
  padding: 10px;
}
.shortcut-links a {
  margin-bottom: 15px;
}
.shortcut-links p {
  /* font-size: 20px; */
  /* font-weight: bold; */
  /* margin-bottom: 10px; */
  color: #333;
}

.shortcut-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.shortcut-links li a {
  display: block;
  padding: 0px 10px;
  /* background-color: #fff; */
  border-radius: 3px;
  /* box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); */
  text-decoration: none;
  color: #333;
  transition: all 0.2s ease-in-out;
}

.shortcut-links li a:hover {
  color: #1876f2;
  /* background-color: #f5f5f5; */
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); */
}

/*end*/
/* Profile page */
.profile-container {
  padding: 20px 15%;
  color: #626262;
}
.profile-container1 {
  padding: 20px 5%;
  color: #626262;
}
.cover-img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 14px;
  height: 300px;
  background-size: cover;
}
.profile-details {
  background: var(--bg-color);
  padding: 20px;
  border-radius: 4px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.pd-row {
  display: flex;
  align-items: flex-start;
}
.pd-image {
  width: 100px;
  margin-right: 20px;
  border-radius: 6px;
}
.pd-row div h3 {
  font-size: 25px;
  font-weight: 600;
}
.pd-row div p {
  font-size: 13px;
}
.pd-row div img {
  width: 25px;
  border-radius: 50%;
  margin-top: 12px;
}
.pd-right button {
  background: #1876f2;
  border: 0;
  outline: 0;
  padding: 6px;
  display: inline-flex;
  align-items: center;
  color: #fff;
  border-radius: 3px;
  margin-left: 10px;
  cursor: pointer;
}
.pd-right button img {
  height: 15px;
  margin-right: 10px;
}
.pd-right button:first-child {
  background-color: #e4e6eb;
  color: #000;
}
.pd-right {
  text-align: right;
}
.pd-right a {
  background: #e4e6eb;
  border-radius: 3px;
  padding: 12px;
  display: inline-flex;
  margin-top: 30px;
}
.pd-right a img {
  width: 20px;
}
.profile-info {
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  margin-top: 20px;
}
.info-col {
  flex-basis: 33%;
}
.post-col {
  flex-basis: 65%;
}
.profile-intro {
  background: var(--bg-color);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
}
.profile-info h3 {
  font-weight: 600 !important;
  font-size: 18px !important;
}
.intro-text {
  text-align: center;
  margin: 10px 0;
  font-size: 15px;
}
.profile-info hr {
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 24px 0;
}
.profile-info ul li {
  list-style: none;
  font-size: 15px;
  margin: 15px 0;
  display: flex;
  align-items: center;
}
.profile-info ul li img {
  width: 26px;
  margin-right: 10px;
}
.datanull {
  text-align: center;
  font-size: 30px;
}
.address_user {
  margin-left: 20px;
  text-decoration: none;
}
.address_user:hover {
  text-decoration: underline;
}
.update-info {
  display: flex;
  justify-content: space-around;
}
.update-info a {
  text-decoration: none;
}
.update-info a:hover {
  text-decoration: underline;
}
/* media query for homepage */

@media (max-width: 900px) {
  .right-sidebar {
    display: none;
  }
  .left-sidebar {
    display: none;
  }
  nav {
    flex-wrap: wrap;
  }
  .search-box {
    display: none;
  }
  .logo {
    width: 110px;
    margin-right: 20px;
  }
  .nav-left ul li img {
    width: 20px;
    margin: 0 8px;
  }
  .nav-user-icon img {
    width: 30px;
  }
  .nav-user-icon {
    margin-left: 0;
  }
  .add-post-links {
    flex-wrap: wrap;
  }
  .main-content {
    flex-basis: 100%;
  }
  .story img {
    width: 20px;
    border-width: 3px;
  }
  .story p {
    font-size: 10px;
  }
  .story.story1 img {
    width: 30px;
    bottom: 30px;
  }
  .add-post-links a {
    margin-right: 12px;
    font-size: 9px;
  }
  .add-post-links a img {
    width: 16px;
    margin-right: 5px;
  }
  .post-input-container {
    padding-left: 0;
  }
}
/*CSS displaySendRequest */
.displayRequest {
  margin-left: 15%;
  margin-top: 15px;
  width: 70%;
}
.page {
  width: 70%;
  margin-left: 15%;
}
.page ol li a {
  color: #1c1e21;
  text-decoration: none;
}
.page ol li a:hover {
  text-decoration: underline;
}
/* Css displayreceiveRequest */
.profile-request {
  display: flex;
  justify-content: space-between;
}
/* media query for profile page */
@media (max-width: 900px) {
  .profile-container {
    padding: 20px 5%;
  }
  .profile-details {
    flex-wrap: wrap;
  }
  .pd-right {
    text-align: left;
    margin-top: 15px;
  }
  .pd-right button {
    margin-left: 0;
    margin-right: 10px;
  }
  .pd-row div h3 {
    font-size: 16px;
  }
  .profile-info {
    flex-wrap: wrap;
  }
  .info-col,
  .post-col {
    flex-basis: 100%;
  }
  .settings-notice {
    width: 50%;
  }
  .post i {
    display: none;
  }
  .Menu {
    display: none;
  }
}
/* Login-form */
.container-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #f0f2f5;
}
.container-login {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left,
.right,
.form-login {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.left {
  width: 500px;
  align-items: flex-start;
}

.left h1 {
  font-family: "facebook letter faces";
  font-size: 60px;
  color: #1877f2;
}

.left p {
  font-size: 30px;
  color: #1c1e21;
  height: 200px;
  font-family: "Roboto Condensed", sans-serif;
}

.right {
  width: 400px;
}

.form-login {
  background-color: white;
  border-radius: 10px;
  width: 400px;
  display: flex;
  padding: 20px;
  margin-bottom: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-login input {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #999;
  outline: none;
  font-size: 16px;
}

.loginBtn {
  background-color: var(--nav-color);
  padding: 15px;
  text-align: center;
  text-decoration: none;
  width: 100%;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-family: "Arial";
  font-weight: 700;
  transition: 0.5s;
  border: none;
}

.loginBtn:hover {
  background-color: #4257b2;
}

.sign-up {
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.signupBtn {
  background-color: #42b72a;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  color: white;
  font-size: 17px;
  font-family: "Arial";
  font-weight: 600;
  transition: 0.5s;
  border: none;
}

.signupBtn:hover {
  background-color: var(--nav-color);
}

.right p {
  font-family: "Arial";
  font-size: 15px;
}

@media (max-width: 950px) {
  .container-login {
    flex-direction: column;
  }

  .left {
    width: 400px;
    align-content: center;
    align-items: center;
  }

  .left p {
    height: 75px;
  }
}
/* Register */
.sign-in {
  margin-top: 25px;
}
.sign-in span {
  font-size: 15px;
  color: #000;
}
